*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgba(255, 255, 255, 0.849);
    color: black;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 1rem 1rem;
}
 nav {
    display: flex;
   align-items: center;
   
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 2rem 4rem;
}
nav ul li a{
    text-decoration: none ;
    color: cornflowerblue;
    font-size: 2rem;
}
nav .menu{
  display: none;
}

@media only screen and (max-width:64rem) {

   body{
    background-color: white;
   }
   nav ul li a{
    color: white;
   }
  nav .menu{
    display: block;
    height: 3rem;
  }
  nav ul{
    background: rgb(219, 66, 11);
    top: 0;
    right: -12rem;
    position: fixed;
    width: 12rem;
    height: 50rem;
    padding-top: 6rem;
  }
  nav ul li{
    display: block;
    margin: 2rem;
  }
  nav ul .menu{
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    position: absolute;
  }
}