body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full viewport height */
    border-radius: 2rem;
}

.logo img {
    max-width: 100%; /* Responsive logo size */
    height: auto; /* Maintain aspect ratio */
}

.login-button {
    margin-top: 20px; /* Space between logo and button */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff; /* Button color */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #0056b3; /* Button hover color */
}